.board{
  table {
    border-spacing: 0;
    tr {
      td {
        width: 35px;
        height: 35px;
        border: 1px solid red;
        text-align: center;
        color: blue;
        cursor: pointer;
        &.r00, &.r01, &.r02, &.r06, &.r07, &.r08,
        &.r10, &.r11, &.r12, &.r16, &.r17, &.r18,
        &.r20, &.r21, &.r22, &.r26, &.r27, &.r28,
        &.r33, &.r34, &.r35, &.r43, &.r44, &.r45,
        &.r53, &.r54, &.r55, &.r60, &.r61, &.r62,
        &.r66, &.r67, &.r68, &.r70, &.r71, &.r72,
        &.r76, &.r77, &.r78, &.r80, &.r81, &.r82,
        &.r86, &.r87, &.r88{
          background: #ccc7c7;
        }
        &.i2, &.i5 {
          border-right: 3px solid red;
        }
        &.i3, &.i6 {
          border-left: 3px solid red;
        }
        &.j2, &.j5 {
          border-bottom: 3px solid red;
        }
        &.j3, &.j6 {
         border-top: 3px solid red;
        }
        &.disabled{
          //background-color: gray;
          font-weight: bold;
          cursor: no-drop;
          color: #000;
        }
        &.selected {
          background: rgb(130, 177, 196) !important;
          //color: rgb(140, 203, 224) !important;
          font-weight: bold !important;
        }
        &.select {
          background: rgb(213, 225, 230);
        }
      }
    }
  }
}